@()

@import play.i18n._

@base(){
	<img class="center-block taille-logo" alt="Responsive image" type="image/png" src="@routes.Assets.at("images/sonic.png")"/>
			<div class="login"> 
				<div class="title_auth"> 
					@Messages.get("SonicMain")
				</div>
				<div class="login-form-1">
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
							 <a class="sonic_popup" href="@web.controller.sonic.routes.Sonic.callauth">		
							    <img height="30" src="@routes.Assets.at("images/sonic.png")"/>
								Se connecter
							 </a>
							 </div>
	 					</div>
	 				</div>
	 			</div>
 			</div>
}